
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div id="title1"><h2>الموظفين</h2></div>
    <form asp-action="Create" asp-controller="Employee">
        <div></div>
        <div></div>
    </form>
</body>
</html>
